
{% extends "job_order/base.html" %}
{%load static%}
{% block content_header %} 
<center><h2> <u>Welcome to the Job Order Home Page</u></h2></center>
<br>
{% endblock %}

{% block content %}


<div class="content-section" style="width:50%">
<h3 style="text-align:center;color:green">All users Job Orders</h3>

<ol class="list-group">
    {% if context %}
        {%for jor_no in context %}

            <li class="list-group-item list-group-item-light">{{forloop.counter}}. <a href= {% url 'view_job_order' job_order_number=jor_no %}>ELEC/ JO/ <b>ACTIVITY</b> /<b>2025</b>  / {{ jor_no }} </a></li>  

        {%endfor%}
    {% else %}
        <p>NIL</p>
    {%endif%}


</ol>
</div>



{% endblock content %}
